a{
  text-decoration: none;
  margin-left: 18vw;
}
header{
  margin: auto;
  margin:2vw 5vw;
}
 h3{
  margin: auto;
  width: 14vw;
  margin-top: 2vh;
 }
 ul{
  margin: auto;
  width: 14vw;
  margin-top: 2vh;
 }

 nav{
  padding: 1vh;
  background: linear-gradient(rgb(235, 235, 170),white, rgb(205, 203, 203), white, rgb(235, 235, 170));
 }
 h1{
  margin-left: 45%;
 }
 p{
  margin: auto;
  width: 60%;
  color: rgb(11, 64, 239);
 }

 img{
  display: block;
  margin: auto;
  margin-top: 2vh;
 }
  
 iframe{
  display: block;
  margin: auto;
  margin-top: 2vh;
 }
 section{
  position:relative;
  display: block;
  margin: auto;
  background-image:linear-gradient(rgb(246, 169, 26), rgb(225, 225, 18), rgb(253, 182, 194), rgb(197, 112, 197));
 }
 .ticket{
  display: flex;
  margin: auto;
  width: 13vw;
 }
 .group{
  display: block;
  margin: auto;
 }
 #sign-Up{
 
  max-width: 30%;
  border-radius: 8px;
 }
  
 .form-group{
  text-align: center;
  margin: 3vh;
 }
  #leg{
  margin: auto;
 }

 /* pseudo practices  */

 #welcomeP:hover{
  background-color: yellow;
 }
 #signUpTag:hover{
  background-color: yellow;
 }
 #contact:hover{
  background-color: yellow;
 }

  #welcomeP:focus {
  background-color: green;
  border-radius: 5px;
 }
  #signUpTag:focus{
  background-color: green;
 }
 #contact:focus{
  background-color: green;
 }